.HomePage {
    margin: 0 auto;
    width: 100%;
    max-width: 375px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 24px;
    background: grey;
    height: 100%;

    &_Header {
       width: 100%;
       height: 49px;
       display: flex;
       justify-content: space-between;
       align-items: center;
       background: blue;
       margin-bottom: 66px;


       button {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        display: flex;
        width: 45px ;
        height: 45px;
        border: none;
        cursor: pointer;

        &:hover {
            opacity: 0.7;
        }
       }

       &_CartBtn {
         background: #181C2E;
         display: flex;

       }
    }

    &_Input {
        background: red;
        width: 100%;
        height: 62px;
        display: flex;
        align-items: center;
        margin-bottom: 32px ;
        
        img {
            position: absolute;
            margin-left: 20px;
            margin-top: 1px;
        }

        input {
            background: #A0A5BA;
            color: #676767;
            width: 100%;
            padding:23px  47px ; 
            height: 62px;
            border-radius: 8px;
            font-size: 14px;
        }
    }

    &_Categories {
        display: flex;
        flex-direction: column;
        background: red;
        width: 100%;
        overflow: hidden;

        &_SeeAll {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;


            button {
                background: none;
                border: none;
                cursor: pointer;
                width: 63px;

                &:hover {
                   opacity: 0.7;
                }
            }
        }
           
     :global(.swiper-wrapper) {
        display: flex ;
        flex-direction: row;
        background: pink;
        height: 184px;
        width: 100%;
        
      }

        
    .chip {
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto ;
        flex-shrink: 0;

        button {
            width: 147px;
            background: red;
            height: 184px;
            border-radius: 19px;
            padding: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            object-position: center;
            object-fit: cover;
            border: none;
            flex-direction: column;
            padding-bottom: 16px;

            cursor: pointer;
            &:hover {
                opacity: 0.7;
            }

            div {
                display: flex;
                flex-direction: column;
                background: blue;
                width: 100%;
                gap: 7px;

                
                h2 {
                    font-family: 'SenBald';
                    font-size: 18px;
                    margin: 0;
                    display: flex;
                    justify-content: start;
                }

                span {

                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    background: pink;
                    justify-content: space-between;
                    align-items: center;
                    margin: 0;

                    
                    h4 {
                        font-size: 14px;
                        margin: 0;
                        font-weight: 200;
                        color: grey;
                    }

                    strong {
                        font-size: 16px;
                    }
                
                }

            }

            img {
                border-radius: 15px;
                margin: 10px;
            }
        }
       }

    }

    &_AllRestaurantBtn {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        button {
           background: none;
           border: none;
           cursor: pointer;

           &:hover {
            opacity: 0.7;
           }
        }
    }


}